.gal-c {
    background: rgb(239,146,115);
    background: linear-gradient(135deg, rgba(239,146,115,1) 25%, rgba(250,229,223,1) 75%); 
}

.gal-h1 {
    text-decoration: 10px solid #cacccd;
}

.gal-img {
    width: 100%;
    border-radius: 25px;
}

.gal-card {
    border: 5px solid #a6a9aa;
    border-radius: 25px;
    background-color: #55382e;
}

.divider {
    height: 3px;
    width: 100%;
    background-color: #a6a9aa;
    margin: 10px 0;
}

.gal-card-title{
    color: #cacccd;
}

.gal-card-text{
    color: #adb0b1;
}
