.login {
    width: 25vw;
    height: 50vh;
    background-color: rgba(0,0,0, 0.7);
    text-align: left;
    padding: 20px;
    border-radius: 25px;
}

.login input {
    border-bottom: 2px solid #fff;
    color:#f2f3f4;
}

.login input::placeholder {
    color:#eeeae1;
    font-weight: normal;
}

label, input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    /* color: #fff; */
    font-weight: bold;
}

label{
    font-size: 1.3rem;
}

.btn {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding: 3px 30px 3px 30px;
}

h2 {
    text-align: center;
}